xpk.dev:8080 {
  bind 0.0.0.0
  tls off
  proxy / 0.0.0.0:3100 {
    transparent
    websocket
  }
}

xpk.dev:8080/api {
  bind 0.0.0.0
  tls off
  proxy / 0.0.0.0:3110 {
    transparent
    websocket
  }
}
